$body: #eee;
$grey-elemenets: #eee;
$header-background: #0c6588;
$menu-background: #e2f7ff;
$main-background: #fff;
$footer-background: #333;
$titles: #333;
$text: #555;
$header-text: #e2f7ff;
$footer-text: #ddd;
$links-btn: #0c6588;
$links-btn-hover: #000;
$footer-links: #eee;
$font-title: "Raleway", sans-serif;
$font-text: "Open Sans", sans-serif;
/*DARK MODE*/
$dark-body: #222;
$dark-grey-elemenets: #444;
$dark-menu-background: #0c6588;
$dark-main-background: #333;
$dark-footer-background: #333;
$dark-titles: #fff;
$dark-text: #ddd;
$dark-links-btn: #e2f7ff;
$dark-links-btn-hover: #fff;
/*INTERLIGNE++*/
$line-height-plus: 2;
$text-size-plus: 1.6rem;
